<!-- About section -->
<article id="about">
  <div class="container wow slideInRight">
    <div class="title">
      <h2 class="">About</h2>

      <div class="code-icon ">
        <i class="fas fa-code"></i>
      </div>
    </div>

    <div class="content row">
      <div class="col-md-6 mb-4">
        <img src="assets/images/about-img.jpg" class="img-thumbnail" alt="" />
      </div>
      <div class="col-md-6 my-auto">
        <p>
          An ambitious self-driven Web Developer with experience in both front
          end and back end fields. Graduated from
          <strong>Udacity Frontend Nanodegree</strong> with technologies as
          Html, Css, Javascript, ReactJS, Angular and many others. Then I was
          enrolled in ITI Internship to study
          <strong>Open Source Applications Development</strong> track. Got to
          know more back end technologies as PHP, Laravel, NodeJS, SQL and NoSQl
          DBs, Rails, Django with experience in consuming and building RESTful
          APIs.
        </p>
        <p>
          This website is a front end project using HTML, CSS, Bootstrap,
          Angular. It uses WowJS and TypedJS libraries for animations.
        </p>
      </div>
    </div>
  </div>
</article>
