<!-- About section -->
<article id="about">
  <div class="container wow slideInRight">
    <div class="title">
      <h2 class="">About</h2>

      <div class="code-icon ">
        <i class="fas fa-code"></i>
      </div>
    </div>

    <div class="content row">
      <div class="image col-md-6">
        <img src="assets/images/about-img.jpg" class="img-thumbnail" alt="" />
      </div>
      <p class="col-md-6 my-auto">
        An ambitious self-driven Front-end Web Developer with experience in
        translating wireframes to actual code using different technical skills.
        Graduated from Udacity Front-end Nanodegree and having experience
        working with HTML/ CSS/ JavaScript/ ReactJS.
      </p>
    </div>
  </div>
</article>
