nav {
    background-color: transparent;
}

nav ul li:hover a,
.active {
    border-bottom: 2px solid #a54369;
    padding-bottom: 7%;
}

nav ul {width: 100%;}

nav ul li a {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.2rem
}