<!-- Contact section -->
<article id="contact">
  <div class="container wow bounceInUp">
    <h2>Contact</h2>

    <div class="code-icon">
      <i class="fas fa-code"></i>
    </div>

    <div class="content">
      <p>Contact me through these links</p>

      <div class="social-icons mb-4">
        <a href="https://www.facebook.com/nouran.samyy96" target="_blank">
          <img src="/assets/images/facebook-icon.png" />
        </a>
        <a
          href="https://www.linkedin.com/in/nouran-samy-769582167/"
          target="_blank"
        >
          <img src="/assets/images/linkedin-icon.png" />
        </a>
        <a href="https://github.com/Nouran96" target="_blank">
          <img src="/assets/images/github-icon.png" />
        </a>
      </div>

      <p>Or Hire me on freelancer.com</p>

      <div class="social-icons mb-4">
        <a href="https://www.freelancer.com/hireme/nsamy" target="_blank">
          <img
            src="/assets/images/freelancer-icon.png"
          />
        </a>
      </div>
    </div>
  </div>
</article>
