<!-- Skills section -->
<article id="skills" class="grey-bg white-text">
  <div class="decor"></div>
  <div class="container">
    <div class="title">
      <h2>Skills</h2>

      <div class="code-icon">
        <i class="fas fa-code"></i>
      </div>
    </div>

    <div class="content row">
      <div
        [ngClass]="'col-lg-' + 12 / allSkills.length"
        class="col-md-6 mb-3"
        *ngFor="let skillCat of allSkills"
      >
        <h3 class="text-center">{{ skillCat.name }}</h3>
        <div class="col" *ngFor="let skill of skillCat.data">
          <div class="d-flex justify-content-between">
            <h6
              [attr.data-value]="skill.progress"
            >
              {{ skill.title }}
            </h6>
            <span>{{skill.progress}}%</span>
          </div>

          <progress
            min="0"
            max="100"
            [value]="skill.progress"
            [attr.data-value]="skill.progress"
          >
            <div class="progress-bar">
              <span [style.width.%]="skill.progress"
                >{{ skill.progress }}%</span
              >
            </div>
          </progress>
        </div>
      </div>
    </div>
  </div>
</article>
