<!-- Skills section -->
<article id="skills" class="grey-bg white-text">
  <div class="decor"></div>
  <div class="container">
    <h2>Skills</h2>

    <div class="code-icon">
      <i class="fas fa-code"></i>
    </div>

    <div class="content row">
      <div class="front-end col-md-6">
          <h3 class="text-center">Front End</h3>
        <div class="col">
          <h3 style="width:95%" data-value="95">HTML</h3>

          <progress min="0" max="100" value="95">
            <div class="progress-bar">
              <span style="width: 95%">95%</span>
            </div>
          </progress>
        </div>

        <div class="col">
          <h3 style="width:90%" data-value="90">CSS</h3>

          <progress min="0" max="100" value="90">
            <div class="progress-bar">
              <span style="width: 90%">90%</span>
            </div>
          </progress>
        </div>
      </div>
      <div class="back-end col-md-6">
        <h3 class="text-center">Back End</h3>
        <div class="col">
          <h3 style="width:90%" data-value="90">JavaScript</h3>

          <progress min="0" max="100" value="90">
            <div class="progress-bar">
              <span style="width: 90%">90%</span>
            </div>
          </progress>
        </div>
        <div class="col">
          <h3 style="width:80%" data-value="80">ReactJS</h3>

          <progress min="0" max="100" value="80">
            <div class="progress-bar">
              <span style="width: 80%">80%</span>
            </div>
          </progress>
        </div>
      </div>

      <!-- <h3 style="width:95%" data-value="95">Responsive Web Pages</h3>

      <progress min="0" max="100" value="95">
        <div class="progress-bar">
          <span style="width: 95%">95%</span>
        </div>
      </progress> -->
    </div>
  </div>
</article>
