 <!-- Portfolio section -->
 <article id="portfolio">

    <div class="container wow slideInLeft">

        <h2 class="black-text">Portfolio</h2>

        <div class="code-icon black-text">
            <i class="fas fa-code"></i>
        </div>

        <div class="row justify-content-center mt-4 filter-btns">
            <button class="btn mr-2" [ngClass]="activeBtn == 'all' ? 'active' : ''" (click)="showAll()">All</button>
            <button class="btn mr-2" [ngClass]="activeBtn == 'front-end' ? 'active' : ''" (click)="showFrontOnly()">Front end</button>
            <button class="btn" [ngClass]="activeBtn == 'back-end' ? 'active' : ''" (click)="showBackOnly()">Back end</button>
        </div>

        <div class="work row">

            <div class="project col-lg-3 mx-2 my-3 col-sm-5" *ngFor="let project of filteredProjects">
                <a [href]="project.deploy_link ? project.deploy_link : project.github_link" target="_blank">
                    <img [src]="project.image" [alt]="project.title">
                </a>
                <div class="overlay"></div>
                <p>{{ project.title }}</p>
            </div>
            
        </div>

    </div>
</article>