 <!-- Portfolio section -->
 <article id="portfolio">

    <div class="container wow slideInLeft">

        <h2 class="black-text">Portfolio</h2>

        <div class="code-icon black-text">
            <i class="fas fa-code"></i>
        </div>

        <div class="work">

            <div class="project" *ngFor="let project of projects">
                <a [href]="project.deploy_link ? project.deploy_link : project.github_link" target="_blank">
                    <img [src]="project.image" [alt]="project.title">
                </a>
                <div class="overlay"></div>
                <p>{{ project.title }}</p>
            </div>
            
        </div>

    </div>
</article>