/* Header Features */
header {
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),
                url('/assets/images/header-min.jpg');
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url('/assets/images/header-min.jpg');
    background: -o-linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url('/assets/images/header-min.jpg');
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url('/assets/images/header-min.jpg');
    height: 100vh;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* Introduction Features */
.intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 95%;
}

.intro h1 {
    margin: 0 1rem 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
    height: 8%;
    font-family: 'Yatra One', cursive;
}

#portfolio-btn {
    background-color: #a54369;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
}

#portfolio-btn:hover {
    cursor: pointer;
    color: #a54369;
    background-color: white;
}